<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Link for Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <!-- Link for Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  <title>CAMO_CODE</title>
</head>

<body>

  <header>
    <!-- top navbar -->
    <nav class="grey darken-3">
      <div class="nav-wrapper">
        <a href="{{ url_for('home') }}" class="brand-logo">CAMO_CODE</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
        <ul class="right hide-on-med-and-down">
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
          <li><a href="{{ url_for('new_post')}}">New Post</a></li>
          {% else %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <!-- mobile sidenav -->
    <ul class="sidenav" id="mobile-demo">
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('profile') }}">Profile</a></li>
      <li><a href="{{ url_for('new_post')}}">New Post</a></li>
      <li><a href="">Search</a></li>
    </ul>
  </header>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="page-footer grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text center-align">CAMO_CODE</h5>
          <p class="white-text text-lighten-4 center-align">For when the answer is usually infront of you but you just can't see it.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text center-align">Social Links</h5>
          <ul class="social">
            <li><a href="https://www.facebook.com/" target="_blank">
              <img src="{{ url_for('static', filename='img/facebook-logo.png') }}" alt="Facebook">
            </a>
            </li>
            <li><a href="https://github.com/" target="_blank">
              <img src="{{ url_for('static', filename='img/github-logo.png') }}" alt="GitHub">
            </a>
            </li>
            <li><a href="https://www.linkedin.com/" target="_blank">
              <img src="{{ url_for('static', filename='img/linkedin-logo.png') }}" alt="LinkedIn">
            </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center-align">
        FOR EDUCATIONAL PURPOSES ONLY
      </div>
    </div>
  </footer>

  <!-- Link for Materialize JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>