{% extends "base.html" %}
{% block content %}

<!-- Sign In / Log In Form -->
<div class="container">
    <h2 class="center-align">Log In</h2>
    <form method="POST" action="{{ url_for('login') }}">
      {{ form.hidden_tag() }}
      {% if form.errors %}
      <div class="alert alert-danger">
        {% for error in form.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
      <div class="input-field">
        {{ form.email(class="validate") }}
        <label for="{{ form.email.id }}"><i class="fas fa-envelope"></i>  Email</label>
      </div>
      <div class="input-field">
        {{ form.password(class="validate") }}
        <label for="{{ form.password.id }}"><i class="fas fa-lock"></i>  Password</label>
      </div>
      <p>
        <label>
          <input type="checkbox" class="filled-in" name="remember_me" id="{{ form.remember_me.id }}" {% if form.remember_me.checked %}checked{% endif %}>
          <span>Remember me</span>
        </label>
      </p>
      <button class="btn grey darken-3" type="submit" name="action">Log in>
        <i class="fas fa-share"></i>
      </button>
    </form>
</div>
{% endblock %}