{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li class="alert-warning">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<!-- Post -->
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align">{{ post.title }}</span>
                <p>{{ post.body }}</p>
                {% if post.code_snippet %}
                <pre><code class="language-{{ post.code_snippet_language }} line-numbers">{{ post.code_snippet }}</code></pre>
                {% endif %}
                <p class="grey-text">{{ post.user_id.username }} :
                    {{ post.timestamp.strftime('%Y-%m-%d %H:%M') }}</p>
                {% if post.author == current_user %}
                <div>
                    <a href="{{ url_for('update_post', post_id=post.id) }}"
                        class="btn waves-effect waves-light">Edit</a>
                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST"
                        style="display: inline-block">
                        {{ form.csrf_token }}
                        {{ form.hidden_tag() }}
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn waves-effect waves-light red"
                            onclick="return confirm('Are you sure?')">Delete</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Comments -->
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-content">
                <div class="card-panel">
                    <ul class="collection">
                        {% for comment in comments %}
                        <li class="collection-item">
                            <span class="bold">{{ comment.user.username }}:</span>
                            <p>{{ comment.body }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% if current_user.is_authenticated %}
                <div>
                    <a href="{{ url_for('comment', post_id=post.id) }}" class="btn waves-effect waves-light">Add
                        Comment</a>
                </div>
                </form>
                {% else %}
                <p class="flow-text">You must <a href="{{ url_for('login') }}">log in</a> to add a comment.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}