{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col s12">
      {% if current_user.is_authenticated %}
      <h1>Welcome, {{ current_user.username }}!</h1>
      <a href="{{ url_for('logout') }}" class="btn waves-effect waves-light">Log out</a>
      {% else %}
      <h1>Anonymous User</h1>
      <p>Sign up or log in to access your profile!</p>
      {% endif %}
    </div>
  </div>

  {% if current_user.is_authenticated %}
  <div class="row">
    <div class="col s12 m8">
      {% for post in current_user.posts %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ post.title }}</span>
          <p>{{ post.code_snippet }}</p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('post', post_id=post.id) }}">View</a>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Profile Info</span>
          <p>{{ current_user.profile.first_name }} {{ current_user.profile.last_name }}</p>
          <p>{{ current_user.profile.bio }}</p>
          <p>{{ current_user.profile.location }}</p>
          <a href="{{ url_for('update_profile') }}" class="btn waves-effect waves-light">Edit Profile</a>
          <hr>
          <form action="{{ url_for('delete_profile') }}" method="POST">
            <button type="submit" class="btn waves-effect waves-light red">Delete Profile</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% else %}
  <div class="row">
    <div class="col s12">
      <p>Please sign up or log in to access your profile.</p>
      <a href="{{ url_for('register') }}" class="btn  waves-effect waves-light">Sign up</a>
      <a href="{{ url_for('login') }}" class="btn waves-effect waves-light">Log in</a>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}