{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li class="alert-warning">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<!-- Update Post -->
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align">Edit Post</span>
                <form method="POST" action="{{ url_for('update_post', post_id=post.id) }}">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    <div class="input-field">
                        {{ form.title(class_="materialize-textarea") }}
                    </div>
                    <div class="input-field">
                        {{ form.body(class_="materialize-textarea") }}
                    </div>
                    <div class="input-field">
                        <pre><code class="language-{{ post.code_snippet_language }} line-numbers">{{ form.code_snippet.data }}</code></pre>
                        {{ form.code_snippet(class_="materialize-textarea") }}
                    </div>
                    <div class="card-action">
                        <button type="submit" class="btn waves-effect waves-light">Update Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}